<div class="page-header">
  <h1>{{ page.title }} <small>Learn for BETTER future</small></h1>
</div>

<div class="row">
  <div class="span8">
    {{ content }}
    <hr>
    {% include JB/comments %}
  </div>
 <div class="span4" >
<h4> Me </h4>
	<!-- Facebook Badge START --><a href="https://www.facebook.com/moch.ramdhoni" target="_TOP" style="font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Muhammad Ramdhoni">Muhammad Ramdhoni</a><br/><a href="https://www.facebook.com/moch.ramdhoni" target="_TOP" title="Muhammad Ramdhoni"><img src="https://badge.facebook.com/badge/1176952885.631.2054610554.png" width="120" height="169" style="border: 0px;" /></a><br/><a href="http://adhown.ini-aja.com" target="_TOP" style="font-family: "lucida grande",tahoma,verdana,arial,sans-serif; font-size: 11px; font-variant: normal; font-style: normal; font-weight: normal; color: #3B5998; text-decoration: none;" title="Make your own badge!">adhown.ini-aja.com</a><!-- Facebook Badge END -->
</div>
  <div class="span4">
  {% unless page.tags == empty %}
    <h4>Tags</h4>
    <ul class="tag_box">
    {% assign tags_list = page.tags %}
    {% include JB/tags_list %}
    </ul>
  {% endunless %}  
  </div>
</div>
